<div class="row mb-5">
  <div class="col-md-4">
    <div class="card">
      <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm text-white" style="background-color: #E9AA21">Go somewhere <i class="bi bi-chevron-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm text-white" style="background-color: #E9AA21">Go somewhere <i class="bi bi-chevron-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm text-white" style="background-color: #E9AA21">Go somewhere <i class="bi bi-chevron-double-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-dark"> Plus d'activites <i class="bi bi-arrow-right-circle-fill"></i></button>
</div>
