<section class="contact-area mt-5 bg-dark" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="contact-content text-center">
          <a href="#"><img src="assets/logo.svg" alt="logo"></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
          <div class="hr"></div>
          <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
          <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
          <div class="contact-social">
            <ul>
              <li><a class="hover-target" href=""><i class="bi bi-facebook"></i></a></li>
              <li><a class="hover-target" href=""><i class="bi bi-linkedin"></i></a></li>
              <li><a class="hover-target" href=""><i class="bi bi-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer class="bg-dark">
  <p>Copyright &copy; 2023 <img src="assets/logo.svg" alt="logo"> All Rights Reserved.</p>
</footer>
