<app-navbarpage></app-navbarpage>
<section class="section-services" >
  <div class="row justify-content-center text-center">
    <div class="col-md-10 col-lg-8">
      <div class="header-section">
        <h2 class="title"><span>C</span>onnexion</h2>
        <p class="description">les associations marocaines reconnues d'utilité publique présente des associations de ce type classées par domaine d'activité et ne prétend pas être exhaustive.</p>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
